
<%= form_for(@page) do |f| %>
<% if @page.errors.any? %>
    <div class="alert">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>
      <ul>
        <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<%= link_to 'Back', root_path %>
  <% else %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>