<div class= "pages">
  <div class= "top">
    
    <div class="page"><%= @page + 1 %></div>  
  </div>
  <div class = "cont">
    
    <% @paragraphs.each do |paragraph| %>
    <div class="newpara"> 
      <p class="author">written by <br><%= paragraph.author %>
        
      <% if current_user.try(:id) ==  paragraph.user_id %>
        (you)</p>
      <% else %>
        </p>
      <% end %>
      <p class="text"> <%= paragraph.parag %></p>
    </div>
    <% end %>

    <div class= "bottom">
      <div class="pagin">
      
        <%= link_to '<<' , root_path %>
        <%= link_to 'prev', root_path(:page => @prev_page) %>
        <%= link_to 'next', root_path(:page => @next_page) %>
        <%= link_to '>>' , root_path(:page => @last_page) %>

    </div>
 
      </div>
  </div>
</div>