<div id="notice"><%= notice %></div>

<p>
  <strong>Author:</strong>
  <%= @paragraph.author %>
</p>

<p>
  <strong>Parag:</strong>
  <%= @paragraph.parag %>
</p>

<p>
  <strong>Main:</strong>
  <%= @paragraph.main %>
</p>

<p>
  <strong>Main:</strong>
  <%= @paragraph.main_id %>
</p>

<%= link_to 'Edit', edit_paragraph_path(@paragraph) %> |
