<!DOCTYPE html>
<html>
<head>
  <title>WrittenByTheInternet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/header" %>
  <%= javascript_include_tag :defaults %>
  
  <% if %>
  <%= render "shared/nav" %>
  
<div class= "content">
  <% if notice != nil %>
   <div class="notice"><%= notice %></div>
  <% end %>
  <% if alert != nil %>
       <div class="alert"><%= alert %></div>
  <% end %>

    <%= yield %>
</div>
  <% else %>
  <% redirect_if_not_user %>
  <% end %>
<%= render "shared/footer" %>
</body>
</html>
